:root{
    --mailcolor: #669cf5;
    --background: #35424a;
}

body{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;  /* SATIR ARALARINDAKİ BOŞLUK */
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container{
   width: 80%;
   margin: auto;
   overflow: hidden; /* yazılanları konteynırın dışına taşmayı önlüyor*/ 
}

ul{
    margin: 0;
    padding: 0;

}

header{
    background-color: var(--background);
    color:#fff;
    min-height: 70px;
    padding-top: 30px;
    border-bottom: var(--mailcolor) 3px solid;  /* HEADER ALT ÇİZGİ */ 
}

header a{
    color: #fff;
    text-decoration: none; /* LİNKLERİN ALTINDAKİ ÇİZGİLERİ YOK ETTİK */ 
    text-transform: uppercase;  /* HEPSİ BÜYÜK HARF OLSUN */
}

header ul{
    list-style-type: none; /* LİSTELEMEDEKİ MADDE İMLERİNİ KALDIRDIK */
}

header li{
    float: left; /* BAŞLIKLARIN HEPSİ YAN YANA GELDİ */ 
    display: inline; /* SATIR İÇİ SEVİYEDE GÖZÜSÜN */ 
    padding: 0px 20px; /* ALTTAN ÜSTTEN 0 , SAĞDAN SOLDAN 20 PX BOŞLUK OLSUN */

}

header #branding{
    float: left; /* LOGO VE MENÜLER YAN YANA GELDİ */ 
}


header #branding h1{
    margin: 0px;
}

header nav{
    float: right; /* MENÜLER SAĞA YASLANDI */ 
    margin-top: 10px;
}

header .highlight , header .current a{
    color: var(--mailcolor);
    font-weight: bold;
}

#showcase{
    background: url(/img/showcase.jpg) no-repeat 0 -400px; /* RESİM TEKRAR ETMESİN */ 
    min-height: 400px;
    text-align: center; /* YAZIYI ORTALIYORUZ */ 
    color: #fff;

}

#showcase h1{
    font-size: 55px;
    margin-top: 100px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;

}

#newsletter{
   background-color: var(--background);
   color: #fff;
   padding: 15px; 
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input{
    height: 25px;
    width: 250px;
    padding: 4px;

}

.button_1{
    height: 40px;
    background: var(--mailcolor);
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 0 20px;
}

#boxes{  /* İD OLANLAR # İLE , CLASS OLANLAR NOKTA İLE , ETİKETSE KENDİ İSMİYLE ÇAĞIRILIR */ 
    margin-top: 20px;

}

#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;

}

#boxes .box img{
    width: 90px;

}

footer{
    background-color: var(--mailcolor);
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    text-align: center;
}

.dark{
    background-color: var(--background);
    padding: 15px;
    color: #fff;
    margin-top: 10px;      /* Bu ikisini aynı satırda yazmak için margin-top: 10px, 0px yazabilirdik. */
    margin-bottom: 10px; 
}

aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

article#main-col{
    float: left;
    width: 60%;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}

ul#services li{
    background-color: #e6e6e6;
    border: #ccc solid 1px;
    list-style: none;
    padding: 20px;
    margin-bottom: 5px;
}

@media(max-width:768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        text-align: center;
        width: 100%;
        float: none;
    }
    

}